@page "/register"
@model Chirp.Razor.Pages.Register

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>