@using Chirp.Razor
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="nav flex-column mt-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- ABOUT ME -->
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-area="Identity"
               asp-page="/Account/Manage/Index">
                About Me
            </a>
        </li>

        <!-- PUBLIC TIMELINE -->
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-page="/Public">
                Public Timeline
            </a>
        </li>

        <!-- PRIVATE TIMELINE -->
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-page="/Private">
                Private Timeline
            </a>
        </li>

        <!-- LOGOUT -->
        <li class="nav-item mt-1">
            <form class="form-inline"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                  asp-area="Identity"
                  method="post">
                <button class="nav-link btn btn-link text-dark p-0"
                        type="submit">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <!-- REGISTER -->
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        </li>

        <!-- LOGIN -->
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>